<h1>Data Policy</h1>
<p>Updated at 2020-12-29</p>

<p> Acres (“we,” “our,” or “us”) is committed to protecting your data. This Data policy explains how your personal
  data is used by Acres.</p>

<p>Acres does not store any user data beyond the information required to log into the application.</p>

<h1>Deleting Your Data</h1>
<p>To remove your user data from Acres please email <b>thefunktory@gmail.com</b> requesting to delete your account.
In the email include the email address used to register for the Acres app. If you utilized google or facebook to login the email
used to register for Acres will be the email for those accounts respectively. </p>
